<ion-view title="聊天">
  <ion-content data-ng-init="init()">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="getGroups()">
    </ion-refresher>
<!--
    <ion-item class="card  ink ink-dark" ng-repeat="group in groups" href="#/app/group/">
      {{ new.title }}
      <div class="card-footer text-right">
        <i class="icon ion-clock"></i> {{ new.createTime | timeAgo}}
        <div class="pull-left">
          <i class="icon ion-person"></i> {{ new.authorName ||'匿名' }}
        </div>
      </div>
    </ion-item>
-->
  </ion-content>
</ion-view>