<ion-view view-title="查看新帖">
    <ion-content data-ng-init="doRefresh()">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
        </ion-refresher>

        <ion-item class="card  ink ink-dark" ng-repeat="new in news androidFix" href="#/app/topic/{{new.id}}&replyCount={{new.replyCount}}&title={{new.title}}">
            {{ new.title }}
            <div class="card-footer text-right">
                <i class="icon ion-clock"></i> {{ new.createTime | timeAgo}}
                <div class="pull-left">
                    <i class="icon ion-person"></i> {{ new.authorName ||'匿名' }}
                </div>
            </div>
        </ion-item>
        
        <ion-infinite-scroll ng-if="news.length % 10 == 0" on-infinite="loadMore()" distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>