<ion-modal-view>
	<ion-header-bar class="bar-balanced">
		<h1 class="title">发表主题</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closePost()">
          <i class="icon ion-close"></i>
      </button>
		</div>
	</ion-header-bar>
	<ion-content>
		<form ng-submit="doPost()">
			<div class="list">
				<label class="item item-input">
          <input type="text" placeholder="标题" ng-model="postData.title">
        </label>
				<hr>
				<label class="item item-input">          
          <textarea type="text" placeholder="内容" ng-model="postData.content" rows="20">
					</textarea>
        </label>
				<label class="item">
          <button class="button button-block button-positive" type="submit">发表</button>
        </label>
			</div>
		</form>
	</ion-content>
</ion-modal-view>