<ion-view title="设置">
<ion-header-bar align-title="left" class="bar-balanced">
</ion-header-bar>
<ion-content>
    <ion-list>
      <ion-radio ng-model="theme" ng-value="'positive'" ng-change="changeTheme()">蓝色</ion-radio>
      <ion-radio ng-model="theme" ng-value="'calm'" ng-change="changeTheme()">青色</ion-radio>
      <ion-radio ng-model="theme" ng-value="'royal'" ng-change="changeTheme()">紫色</ion-radio>
      <ion-radio ng-model="theme" ng-value="'balanced'" ng-change="changeTheme()">绿色</ion-radio>
      <ion-radio ng-model="theme" ng-value="'energized'" ng-change="changeTheme()">黄色</ion-radio>
      <ion-radio ng-model="theme" ng-value="'bar-assertive'" ng-change="changeTheme()">红色</ion-radio>
      <ion-radio ng-model="theme" ng-value="'dark'" ng-change="changeTheme()">黑色</ion-radio>
      <ion-radio ng-model="theme" ng-value="'stable'" ng-change="changeTheme()">灰色</ion-radio>
    </ion-list>
</ion-content>
</ion-view>