<ion-view title="设置">
  <ion-list>
    <ion-radio></ion-radio>
    <ion-radio class="positive" ng-model="themeColor" ng-value="'positive'" ng-change="changeTheme()">
      <i class="icon ion-record menu-icon"></i><span class="radio-text">蓝色</span>
    </ion-radio>
    <ion-radio class="calm" ng-model="themeColor" ng-value="'calm'" ng-change="changeTheme()">
      <i class="icon ion-record menu-icon"></i><span class="radio-text">青色</span>
    </ion-radio>
    <ion-radio class="royal" ng-model="themeColor" ng-value="'royal'" ng-change="changeTheme()">
      <i class="icon ion-record menu-icon"></i><span class="radio-text">紫色</span>
    </ion-radio>
    <ion-radio class="balanced" ng-model="themeColor" ng-value="'balanced'" ng-change="changeTheme()">
      <i class="icon ion-record menu-icon"></i><span class="radio-text">绿色</span>
    </ion-radio>
    <ion-radio class="energized" ng-model="themeColor" ng-value="'energized'" ng-change="changeTheme()">
      <i class="icon ion-record menu-icon"></i><span class="radio-text">黄色</span>
    </ion-radio>
    <ion-radio class="assertive" ng-model="themeColor" ng-value="'assertive'" ng-change="changeTheme()">
      <i class="icon ion-record menu-icon"></i><span class="radio-text">红色</span>
    </ion-radio>
    <ion-radio class="dark" ng-model="themeColor" ng-value="'dark'" ng-change="changeTheme()">
      <i class="icon ion-record menu-icon"></i><span class="radio-text">黑色</span>
    </ion-radio>
  </ion-list>
</ion-view>