<ion-view view-title="{{topicTitle}}">
  <button class="button button-{{theme}} button-fab ink topicfab" ng-click="popover.show()">
        <i class="icon ion-plus-round"></i>
    </button>
  <ion-content data-ng-init="doRefresh()">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-item class="item card list item-text-wrap topicCard androidFix" ng-repeat="topicItem in topic">
      <div class="card-header" ng-if="topicItem.title">
        <strong>{{topicItem.title}}</strong>
      </div>
      <div class="item item-avatar" ng-if="topicItem.userInfo.portraitUrl">
        <img ng-src="{{topicItem.userInfo.portraitUrl || 'img/user.jpg'}}"   ui-sref="app.userInfo({id: topicItem.userId})">
        <h2>{{ topicItem.userName ||'匿名' }}&nbsp;&nbsp;
          <span ng-bind-html="topicItem.userInfo.gender | gender"></span>
            <span class="pull-right">
              <i class="icon ion-share quoteIcon" ng-click="quote($index)"></i>
            </span>
          </h2>
      </div>
      <div class="card-header" ng-if="!topicItem.userInfo.portraitUrl">
        <i class="icon ion-person"></i> {{ topicItem.userName ||'匿名' }}
        <span class="pull-right">
          <i class="icon ion-share quoteIcon" ng-click="quote($index)"></i>
        </span>
      </div>
      <div ng-if="topicItem.contentType" class="md-read markdown-body editormd-html-preview" ng-bind-html="topicItem.content | markdown"></div>
      <div ng-if="!topicItem.contentType" ng-bind-html="topicItem.content | ubb"></div>
      </div>
      <div class="card-footer text-right">
        <i class="icon ion-clock"></i> {{ topicItem.time | timeAgo}}
        <div class="pull-left">
          第{{topicItem.floor}}楼
        </div>
      </div>
    </ion-item>
    <ion-infinite-scroll ng-if="topic.length % 10 == 0 && !noMore" on-infinite="loadMore()" distance="5%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>