<ion-view view-title="{{topicTitle}}">
    <button id="fab" class="button button-positive button-fab  topicfab" ng-click="post()">
        <i class="icon ion-compose"></i>
    </button>
    <ion-content data-ng-init="doRefresh()">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
        </ion-refresher>
        
        <ion-item class="card ink ink-dark item-text-wrap" ng-repeat="topicItem in topic" href="">
            <div class="card-header">{{topicItem.floor}}楼 &emsp;
                <strong>{{topicItem.title}}</strong>
            </div>
            <pre id={{topicId}}topic{{topicItem.floor-1}} ng-bind-html="topicItem.content | to_trusted"></pre>
            <div class="card-footer text-right">
                <i class="icon ion-clock"></i> {{ topicItem.time}}
                <div class="pull-left">
                    <i class="icon ion-person"></i> {{ topicItem.userName ||'匿名' }}
                </div>
            </div>
        </ion-item>
        
        <ion-infinite-scroll ng-if="topic.length % 10 == 0 && !error" on-infinite="loadMore()" distance="5%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>