  <ion-popover-view>
  <button class="button button-{{theme}} button-fab ink topicfab" ng-click="popover.hide()">
        <i class="icon ion-close-round"></i>
    </button>
      <button class="button button-balanced button-fab ink topicfab fab-left" ng-click="post()">
        <i class="icon ion-compose"></i>
    </button>
          <button class="button button-energized button-fab ink topicfab fab-topleft" ng-click="jump()">
        <i class="icon ion-arrow-return-right"></i>
    </button>
          <button class="button button-calm button-fab ink topicfab fab-top" ng-click="scrollTop()">
        <i class="icon ion-plane"></i>
    </button>
  </ion-popover-view>