<ion-view title="聊天">

    <ion-content has-header="true" padding="true">

        <h3>开发中</h3>
    </ion-content>

    <div class="tabs tabs-icon-only tabs-positive">
        <a nav-clear class="tab-item disable-user-behavior" title="Home" nav-clear ui-sref="app.receive">
            <i class="icon ion-archive"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Chat" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline"
            ui-sref="app.send">
            <i class="icon ion-android-open"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="Drink" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline"
            ui-sref="app.chat">
            <i class="icon ion-chatboxes"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
    </div>
</ion-view>