<ion-view view-title="短消息">
    <button id="fab" class="button button-{{theme}} button-fab ink topicfab" ng-click="post()">
        <i class="icon ion-paper-airplane"></i>
    </button>
    <ion-content data-ng-init="doRefresh()">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
        </ion-refresher>

        <ion-item class="card  ink ink-dark item-text-wrap" href="">
            <div class="card-header">
                <h1>{{message.title}}</h1> 发件人：&emsp; <b>{{message.senderName || '系统'}}</b><br> 收件人：&emsp; <b>{{message.receiverName}}</b><br>
                <span>
                <i class="icon ion-clock"></i> {{ message.sendTime | time}}
                </span>
                <hr>
            </div>
            <div>
                <pre ng-bind-html="message.content | ubb"></pre>
            </div>
        </ion-item>
    </ion-content>
</ion-view>