<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <button class="button button-clear" ng-click="closePost()">
          <i class="icon ion-close"></i>
      </button>
    <h1 class="title">发消息</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="doPost()">
          <i class="icon ion-checkmark"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="收件人" ng-model="postData.receiverName">
        </label>
        <hr>
        
        <label class="item item-input">
          <input type="text" placeholder="标题" ng-model="postData.title">
        </label>
        
        <hr>
        <label class="item item-input">          
          <textarea type="text" placeholder="内容" ng-model="postData.content" rows="20">
					</textarea>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>