.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.topicfab{
    right: 20px;
    bottom: 20px;
    position: fixed;
}
.fab-left{
  right: 120px;
}
.fab-topleft{
  right: 85px;
  bottom: 85px;
}
.fab-top{
  bottom: 120px;
}

.card img{
    box-shadow: none;
    display: inline;
}

.quoteMaxHeightDiv{
  padding: 10px 20px !important;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #11c1f3;
  background:#F4F4F4;
}

.card-header{
    padding-bottom: 10px;
}

img{
    width:initial!important;
}

.item{
  width: inherit;
}
.item-complex .item-content, .item-radio .item-content{
    /*background-color: rgba(255, 255, 255, 0.6);*/
    padding: 16px;
}
.platform-android .androidFix{
  width: 96%;
}

.boardRoot{
    display: inline-block;
    width: 48%;
    margin: 4px;
}
.platform-android .boardRoot{
  width: 47.5%;
}

.menu-icon{
    font-size: 150%;
    vertical-align: middle;
    margin: 0 10px 0 10px;
}

.unReadReceive{
  background-color: rgba(169, 255, 173, 0.61);
}

.unReadSend{
  background-color: rgba(193, 188, 243, 0.43);
}

/*
头像
*/
.card .item.item-avatar{
    min-height: 0px;
    padding: 22px 0px 33px 75px;
}

.item-avatar>img:first-child{
    left: 0;
    top: 0;
    max-height: 60px;
    max-width: 60px;
    height: 60px !important;
    width: 60px !important;
}

/*粉红色*/
.pink{
    color: deeppink;
}

.todayPostCount{
    color: rgba(68,68,68,0.8);
}

/*label标签，来自bootstrap，增加了几种颜色，使字体上下居中*/
.label {
  display: inline;
  padding: .2em .6em .2em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #c9302c;
}
.label-royal {
  background-color: #673AB7;
}
.label-energized {
  background-color: #FF9800;
}
.label-stable {
  background-color: #b2b2b2;
}
.label-pink {
  background-color: deeppink;
}

.radio-text{
  vertical-align: middle;
}

.popover{
  background-color: rgba(255,255,255,0);
  position: fixed;
  box-shadow: none;
  bottom: -15px;
  left: auto;
  right: 0px;
  top: auto;
  width: 0px;
  height: 0px;
}

.popup-body{
  text-align:center;
}

.quoteIcon{
  font-size: 25px;
  color: rgba(68,68,68,1);
}

.topicCard{
  padding: 16px
}

.avatarImage{
  text-align: center!important;
}
/*
ion-content.scroll-content.ionic-scroll.has-header{
  background-color: rgba(49, 175, 213, 0.28);
}
*/
.item p{
  color : rgb(68,68,68);
}
.markdown-body ul{
  list-style-type:disc;
}
.editormd-html-preview{
  padding :14px 0 0 0;
  line-height: 20px;
  font-family: RobotoDraft,Roboto,"Helvetica Neue","Segoe UI",sans-serif;
}
.markdown-body {
  color : rgb(68,68,68);
  margin-bottom: 0;
}
/*
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre{
  margin-bottom: 0;
}*/
.editormd-html-preview pre{
  background: #333;
  color: #FFF;
}

.item-checkbox-markdown{
  min-height: 30px!important;
  padding: 5px 16px 5px 60px;
}
.markdown-icon{
  font-size: 20px;
  vertical-align: middle;
}

.postTitle{
  margin-left: 20px;
}