.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

#fab{
    right: 20px;
    bottom: 20px;
    position: fixed;
}

.card img{
    box-shadow: none;
    display: inline;
}

.quoteMaxHeightDiv{
  padding: 10px 20px !important;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #11c1f3;
  background:#F4F4F4;
}

.card-header{
    padding-bottom: 10px;
}

img{
    width:initial!important;
}

.boardRoot{
    display: inline-block;
    width: 47.5%;
    margin: 4px;
}


.item-complex .item-content, .item-radio .item-content{
    padding-right: 24px;
}

.menu-icon{
    font-size: 150%;
}

.unReadReceive{
  background-color: rgba(169, 255, 173, 0.61);
}

.unReadSend{
  background-color: rgba(193, 188, 243, 0.43);
}

/*
头像
*/
.card .item.item-avatar{
    min-height: 0px;
    padding-left: 75px;
    padding-top: 22px;
    padding-bottom: 33px;
}

.item-avatar>img:first-child{
    left: 0;
    top: 0;
    max-height: 60px;
    max-width: 60px;
    height: 60px !important;
    width: 60px !important;
}

/*粉红色*/
.pink{
    color: deeppink;
}

.todayPostCount{
    color: rgba(68,68,68,0.8);
}